

body{
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    overflow-x: hidden;
}


.banner{
    text-transform: uppercase;
    font-family: fantasy;
    font-weight: 100 ;
    color: white;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.5vw;
}

#logo-banner > .col > img{
    width: 20vw;
}

img{
    align-items: center;
    width: 11vw;
}

nav{
    font-family: fantasy ;
    font-weight: 100;
    background-color: #F3F3F3;
}


.content-1 > p{
    font-family: fantasy ;
    font-weight: 100;
    color: #5C2E92;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}

.content-2 > p{
    font-family: fantasy; 
    color: #5C2E92;
    font-weight: 100;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}


#branding-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#branding-row > .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}


#branding-row > .row > div:nth-child(3) {
    width: 30%;
    min-width: 50px;
    height: auto;
}

#cart-mobile{
    position: relative;
    display: inline-block;
    width: 10%;
    font-family: fantasy;
}

#cart-mobile > a > p{
    position: absolute;
    top: 13%;
    right: 5%;
    bottom: 0%;
    left: 10%;
    font-size: 4vw;
}

#cart-desktop{
    position: relative;
    display: inline-block;
    width: 10%;
}

#cart-desktop > a > p{
    position: absolute;
    top: 20%;
    right: 9%;
    bottom: 0%;
    left: 10%;
    font-size: 2vw;
}

#info-banner-small > p{
    font-family: fantasy; 
    color: #5C2E92;
    font-size: 3vw;
    margin: 0;
    padding: 0;
} 


.carousel-indicators {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center !important;
    justify-content: center !important;
}

.carousel-indicators > button {
    border: indigo 3px solid !important;
    border-radius: 5px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center !important;
    justify-content: center !important;
    padding: 1px !important;
    transition: ease 0.3s !important;
    box-shadow: 1px 0px 10px 1px gray;
}


.carousel-indicators > button:hover{
    padding: 6px !important;
    margin: 0 !important;
    transition: ease 0.3s !important;
    border-radius: 10px;
    background-color: indigo !important;
}

.carousel-indicators > button:active{
    padding: 6px !important;
    margin: 0 !important;
    transition: ease 0.3s !important;
    border-radius: 10px;
    border: indigo 3px solid !important;
    background-color: white !important;
    box-shadow: 1px 0px 10px 1px gray;
}

.carousel-control-prev{
    background-color: none !important;
    transition: ease 0.3s !important;
}

.carousel-control-next{
    background-color: none !important;
    transition: ease 0.3s !important;
}

.carousel-control-prev:hover{
    background-color: rgba(128, 128, 128, 0.113) !important;
    transition: ease 0.3s;
}

.carousel-control-next:hover{
    background-color: rgba(128, 128, 128, 0.113) !important;
    transition: ease 0.3s;
}

#raw-chicken > a > img{
    box-sizing: border-box;
    border: 2px solid orange ;
    border-radius: 3%;
}

#value-range > a > img{
    box-sizing: border-box;
    border: 2px solid orange ;
    border-radius: 3%;
}

#paratha-range > a > img{
    box-sizing: border-box;
    border: 2px solid orange ;
    border-radius: 3%;
}

#NavBar{
    position: absolute !important;
    z-index: 3 !important;
    box-shadow: 2px 2px 1px 1px black !important;
}

.list-group > li > a{
    color: black;
    text-transform: capitalize ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-links > li > a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: sans-serif;
}

.footer-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-rights {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: grey;
}

.footer-rights > p:last-child{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    color: grey;
}


.footer-rights > p > a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    color: #5C2E92;
}

video{
    box-shadow: 1px 1px 2px 3px #5C2E92;
}